<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=button] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(function(){
    $($("input[type='button']")[0]).click(function(){
        location.href="/diagnosis/list";
    });
    $($("input[type='button']")[1]).click(function(){
        if(confirm("수정하시겠어요?")){
        $("form").attr({
          "method":"post",
          "action":"/diagnosis/edit"
        });
        $("form").submit();
        }
    });
    $($("input[type='button']")[2]).click(function(){
      if(confirm("삭제하시겠어요?")){
        $("form").attr({
          "method":"post",
          "action":"/diagnosis/delete"
        });
        $("form").submit();
        }
    });
});
function checkValue(){
  if($("form input[name=]").val()==""){

  }else if($("form input[]").val()==""){

  }else{
    
  }
}
</script>
</head>
<body>

<h3>진료기록 보기</h3>

<div class="container">
  <form>
    <input type="hidden" name="dia_id" value="<%=diagnosis.dia_id%>"/>
    <input type="hidden" name="member_id" value="<%=member.member_id%>"/>
    <input type="hidden" name="pet_id" value="<%=pet.pet_id%>"/>
    <label>제목</label>
    <input type="text" name="dia_title" value="<%=diagnosis.dia_title%>">
    <label>반려견이름</label>
    <input type="text" name="pet_name" value="<%=pet.pet_name%>">
    <label>작성자</label>
    <input type="text" name="member_name" value="<%=member.member_name%>">
    <label>작성일</label>
    <input type="text" name="regdate" value="<%=diagnosis.regdate%>">
    <label>내용</label>
    <textarea name="dia_text" cols="30" rows="10"><%=diagnosis.dia_text%></textarea>
    <label>사진</label>
    <input type="image" name="diagnosis_img.img"/>

    <input type="button" value="목록으로">
    <input type="button" value="수정하기">
    <input type="button" value="삭제하기">
  </form>
</div>

</body>
</html>
