

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PETSPITAL 진료기록 글쓰기</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(function(){
  $("#edit").click(function(){
    if(checkValue()){
      if (confirm("수정하시겠어요?")) {
      $("form").attr({
          "method":"post",
          "action":"/diagnosis/edit"
        });
        $("form").submit();
        return true;
      }
    }
  });
  $("#del").click(function(){
    if(checkValue()){
      if (confirm("삭제하시겠어요?")) {
      $("form").attr({
          "method":"post",
          "action":"/diagnosis/delete"
        });
        $("form").submit();
        return true;
      }
    }
  });
});
function checkValue(){
  if($("form div input[name='dia_title']").val()==""){
    return false;
  }else if($("form div input[name='myPet']").val()==""){
    return false;
  }else if($("form div input[name='dia_text']").val()==""){
    return false;
  }else{
    return true;
  }
}
</script>
</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-8 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-8" style="margin: auto">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">진료기록 글쓰기</h1>
                  </div>
                  <form class="user" >
                  <%if(diagnosis.member_id==id||1==type){%>
                    
                      <input type="hidden" name="dia_id" value="<%=diagnosis.dia_id%>"/>
                      <input type="hidden" name="member_id" value="<%=diagnosis.member_id%>"/>
                      <input type="hidden" name="pet_id" value="<%=diagnosis.pet_id%>" />
                      <div class="form-group">
                        <input type="text" name="dia_title" class="form-control form-control-user" id="exampleInputText" aria-describedby="emailHelp"value="<%=diagnosis.dia_title%>" >
                      </div>
                      <div class="form-group">
                        <input type="text" name="myPet" class="form-control form-control-user" id="exampleInputText" aria-describedby="emailHelp"  value="<%=diagnosis.pet_name%>" readonly>
                      </div>
                      <div class="form-group">
                        <textarea name="dia_petinfo" rows="2" class="form-control " multiple readonly><%=diagnosis.dia_petinfo%></textarea>
                      </div>
                      <div class="form-group">
                        <textarea  name="dia_text" rows="12" class="form-control " id="exampleInputPassword" aria-describedby="fileHelp"
                        multiple placeholder="내용"><%=diagnosis.dia_text%></textarea>
                      </div>
                      <div class="form-group row">
                        <%if(diagnosis.ispublic==1){%>
                          <div class="col-sm-6 mb-3 mb-sm-0 text-center">
                            <label>게시판 공개<input type="radio" name="ispublic" value="1" class="form-control form-control-user" checked></label>
                          </div>
                          <div class="col-sm-6 text-center">
                            <label>게시판 비공개<input type="radio" name="ispublic" value="0" class="form-control form-control-user"></label>
                          </div>
                        <%}else{%>
                          <div class="col-sm-6 mb-3 mb-sm-0 text-center">
                            <label>게시판 공개<input type="radio" name="ispublic" value="1" class="form-control form-control-user"></label>
                          </div>
                          <div class="col-sm-6 text-center">
                            <label>게시판 비공개<input type="radio" name="ispublic" value="0" class="form-control form-control-user" checked></label>
                          </div>
                        <%}%>
                        
                      </div>
                      <%for(var i=0;i<imgArray.length;i++){%>
    
                        <%var image = imgArray[i]%>
                        <div class="form-group">
                        <img src="/uploads/diagnosis/<%=image.img%>" alt="<%=image.img%>">
                      </div>
                      <%}%>
                      
                      <hr>
                      <div class="form-group row">
                        <div class="col-sm-4 mb-3 mb-sm-0 text-center">
                      <a href="/diagnosis/list" class="btn btn-primary btn-user btn-block">
                        목록
                      </a>
                      </div>
                      <div class="col-sm-4 mb-3 mb-sm-0 text-center">

                      <a id="edit" class="btn btn-facebook btn-user btn-block">
                        수정
                      </a>
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0 text-center">
                      <a id="del" class="btn btn-google btn-user btn-block">
                        삭제
                      </a>
                    </div>
                      </div>
                    
                  <%}else{%>
                    
                      <input type="hidden" name="dia_id" value="<%=diagnosis.dia_id%>"/>
                      <input type="hidden" name="member_id" value="<%=diagnosis.member_id%>"/>
                      <input type="hidden" name="pet_id" value="<%=diagnosis.pet_id%>" />
                      <div class="form-group">
                        <input type="text" name="dia_title" class="form-control form-control-user" id="exampleInputText" aria-describedby="emailHelp"value="<%=diagnosis.dia_title%>" readonly>
                      </div>
                      <div class="form-group">
                        <input type="text" name="myPet" class="form-control form-control-user" id="exampleInputText" aria-describedby="emailHelp"  value="<%=diagnosis.pet_name%>" readonly>
                      </div>
                      <div class="form-group">
                        <textarea name="dia_petinfo" rows="2" class="form-control " multiple readonly
                          ><%=diagnosis.dia_petinfo%></textarea>
                      </div>
                      <div class="form-group">
                        <textarea  name="dia_text" rows="12" class="form-control " id="exampleInputPassword" aria-describedby="fileHelp"
                        multiple placeholder="내용" readonly><%=diagnosis.dia_text%></textarea>
                      </div>
                      <div class="form-group row">
                        <%if(diagnosis.ispublic==1){%>
                          <div class="col-sm-6 mb-3 mb-sm-0 text-center">
                            <label>게시판 공개<input type="radio" name="ispublic" value="1" class="form-control form-control-user" checked readonly></label>
                          </div>
                          <div class="col-sm-6 text-center">
                            <label>게시판 비공개<input type="radio" name="ispublic" value="0" class="form-control form-control-user" readonly></label>
                          </div>
                        <%}else{%>
                          <div class="col-sm-6 mb-3 mb-sm-0 text-center">
                            <label>게시판 공개<input type="radio" name="ispublic" value="1" class="form-control form-control-user" readonly></label>
                          </div>
                          <div class="col-sm-6 text-center">
                            <label>게시판 비공개<input type="radio" name="ispublic" value="0" class="form-control form-control-user" checked readonly></label>
                          </div>
                        <%}%>
                        
                      </div>
                      <%for(var i=0;i<imgArray.length;i++){%>
    
                        <%var image = imgArray[i]%>
                        <div class="form-group">
                        <img src="/uploads/diagnosis/<%=image.img%>" alt="<%=image.img%>">
                      </div>
                      <%}%>
                      
                      <hr>
                      <div class="form-group row">
                      <div class="col-sm-6 mb-3 mb-sm-0 text-center">
                      <a onclick="history.back()" class="btn btn-primary btn-user btn-block">
                        목록
                      </a>
                      </div>
                      
                    
                  <%}%>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

</body>

</html>